$mobile-width: 767px;

$background-color: #f6f6f6;

$black-color: #333333;
$grey-color: #999999;
$white-color: #ffffff;
// $primary-color: #19CC89;
$primary-color: #88B04B;
$border-color: #c5c5c5;

$base-font-size: 14px;


$error-color: #ff6384